<!DOCTYPE html>
<html>
<head>
    <title>웹페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <!-- 네비게이션 바 -->
    <div class="navbar">
        <div class="navbar-logo">
            <img src="{{ url_for('static', filename='img/title.png') }}" alt="로고">
        </div>
        <div class="navbar-menu">
            <div class="navbar-menu-item active" onclick="location.reload(true);">CCTV 상황 정보</div>
            <div class="navbar-menu-item" onclick="showAlert()">돌발/사고 정보</div>
            <div class="navbar-menu-item" onclick="showAlert()">주정차 위반 정보</div>
            <div class="navbar-menu-item" onclick="showAlert()">센터 소개</div>
        </div>
    </div>

    <!-- 세부 메뉴 선택창 -->
    <div class="submenu">
        <button class="submenu-button" onclick="toggleButton(1)">방범용</button>
        <button class="submenu-button" onclick="toggleButton(2)">주정차 단속용</button>
        <button class="submenu-button" onclick="toggleButton(3)">생활 폐기물 무단 투기 단속용</button>
        <button class="submenu-button" onclick="toggleButton(4)">시설물 관리용</button>
    </div>

    <!-- 배경 이미지 -->
    <div class="background-image">
        <button id="pin1" class="pin-button" onclick="openViewPage(1)" style="top: 26%; left: 20%; display:none;"></button>
        <button id="pin2" class="pin-button" onclick="openViewPage(2)"></button>
        <button id="pin3" class="pin-button" onclick="openViewPage(3)"></button>
        <button id="pin4" class="pin-button" onclick="openViewPage(4)"></button>
        <button id="pin5" class="pin-button" onclick="openViewPage(5)"></button>
    </div>
    <script src="{{ url_for('static', filename='page.js') }}"></script>
</body>
</html>
