<!DOCTYPE html>
<html lang="en">
<head>
    <title>Control Center</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="mt-5">관제센터 엿보기</h4>
                <div class="image-and-button">
                        <img src="{{ url_for('video_feed') }}" style="height: 720px; weight: 960px;">
                    <div class="button-container">
                        <h6>사고 발생</h6>
                        <button class="push--skeuo"></button>
                    </div>
                </div>
                <h7>{{flag}}</h7>
            </div>
        </div>
    </div>
</body>
</html>
