body {
    margin: 0;
    padding: 0;
    font: normal 3vw/1 "Montserrat", sans-serif;
}
.navbar {
    height: 9vh;
    background-color: #fff;
    border-bottom: 1px solid black;
    color: #000; /* 글자 색 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font: normal 3vw/1 "Montserrat", sans-serif;
}
.navbar-logo {
    display: flex;
    align-items: center;
}
.navbar-logo img {
    width: 304px;
    height: 56px;
    margin-left: 30px;
    margin-right: 10px;
}
.navbar-menu {
    width: 70%;
    display: flex;
    font-size: 20px;
}
.navbar-menu-item {
    margin-right: 5%;
}
.navbar-menu-item.active {
    font-weight: bold;
}
.submenu {
    height: 4.5vh;
    display: flex;
    justify-content: flex-start;
    padding: 1vh;
}
.submenu-button {
    padding: 0 20px;
    background-color: #ccc;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}
.submenu-button.active {
    background-color: #666;
    color: #fff;
}
.background-image {
    position: relative;
    width: 100%;
    height: 84.4vh;
    background-image: url('../static/img/citymap.png');
    background-size: 100% auto;background-repeat: repeat-x;
    background-position: center;
}
.pin-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-image: url('../static/img/pin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: transparent; /* 배경을 투명하게 설정 */
}
/* 팝업 창 스타일 */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 9999;
    display: none;
}
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}
.popup-title {
    font-weight: bold;
}
.popup-close {
    cursor: pointer;
}
.popup-content {
    padding: 20px;
}