<!DOCTYPE html>
<html>
<head>
    <title>CCTV Viewer</title>
    <link rel="stylesheet" href="test.css">
</head>
<body class="view-body">
    <div class="popup-container">
        <div class="navigation-bar">
            <div class="title">팝업 창</div>
            <div class="close-button" onclick="window.close()">X</div>
        </div>
        <hr style="border-color: black;">
        <div class="content">
            <div class="image"><img src=accident.png style="width: 400px; height: 300px;"></div>
            <div class="text">텍스트 한 줄</div>
        </div>
    </div>
    
    <script>
        // 10초마다 페이지를 새로고침하는 함수
        function refreshPage() {
            location.reload(true); // true를 전달하여 캐시를 무시하고 서버에서 새로운 데이터를 가져옴
        }
        
        // 페이지 로드 후 시작
        window.onload = function() {
            // 10초마다 페이지 새로고침
            setInterval(refreshPage, 10000); // 10초(10000ms) 간격으로 호출
        };
    </script>
</body>
</html>
